.formulario {
    height: 950px;
    background-color: #0d0d0d;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
  }

  .formulario-label {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 100px;
  }

  .formulario-label-content {
    align-self: center;
    margin-top: 100px;
  }


  .inputs-form-content {
    width: 70%;
    margin: 0 auto; /* Centraliza horizontalmente */
}

.input-row {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Espaçamento entre os campos */
    margin-bottom: 50px;
    margin-top: 80px;
}

.input-box {
    flex: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

.form-control {
    padding: 8px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .inputs-form-content {
        width: 90%; /* Aumenta a largura para ocupar mais da tela */
    }

    .input-row {
        flex-direction: column; /* Empilha os inputs */
        gap: 15px; /* Maior espaçamento entre os campos na vertical */
        margin-bottom: 0;
        margin-top: 5px;
    }

    .input-box {
        width: 100%; /* Faz os inputs ocuparem toda a largura */
    }

    .formulario{
        height: 800px;
    }
}