.App {
  text-align: center;
}

* {
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(0 0 0 / 0.7);
  color: #fff;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;
  position: fixed;
  background-color: rgba(19, 19, 19, 0);
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Para garantir que o header fique acima dos outros elementos */
}

.header.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
}

.logo {
  max-height: 90px;
}

@media (max-width: 480px) {
  /* .logo {
    margin-top: 10px;
    margin-right: 20px;
  } */

  .logo-header {
    margin-left: 0px;
  }
}



.itens-header {
  width: inherit;
  margin-left: 45%;
}

/* media query pro header */
@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .logo {
    max-height: 40px;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .nav-links {
    display: none;
  }

  .header-icon {
    margin-right: 4px;
    margin-top: 4px;
  }

  .logo {
    max-height: 40px;
  }

  
}

/* media query para celular */

@media (max-width: 425px) {
  .header {
    padding: 1rem;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .nav-links {
    display: none;
  }

  .header-icon {
    margin-right: 4px;
    margin-top: 4px;
  }

  .itens-header {
    display: none;
  }
}

@media (max-height:480){
  .mobile-row-bv{
    margin-right: 10px;
  }


}


.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-right: 10%;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}



.header h1 {
  font-size: 1.5rem;
}

.nav-links a {
  color: #F0B35B;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.logo-header {
  margin-left: 10%;
}

@media (max-width: 480px) {

  .logo-header {
    margin-left: 10px;
    margin-top: 5px;
  }
}

.inline {
  display: inline;
}

.header-icon {
  margin-right: 4px;
  margin-top: 4px;

}

/* **************** */

.footer {
  background-color: #0d0d0d;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.bg-img {
  background-image: url('/public/img/background.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  position: relative;
}

/* ***** HERO ************* */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: initial;
  position: relative;
  max-height: 768px;
}

.texto-hero {
  font-size: 16px !important;
  max-width: 50%;
  text-shadow: 4px 4px 8px rgba(0, 0, 0,);
}

@media (max-width: 425px) {

  .texto-hero {
    font-size: 16px !important;
    max-width: 100%;
  }
}

.hero::before {
  content: "";
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  margin-left: 10%;
  z-index: 2;
}

@media (max-width: 425px) {
  .hero-content {
    margin-top: 50%;
    margin-left: 5%;
  }
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 1rem;

}

.hero p {
  font-size: 21px;
  margin-bottom: 1.5rem;
}

.hero-button {
  padding: 0.75rem 1.5rem;
  font-size: 21px;
  color: #fff;
  background-color: #F0B35B;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #F0B35B;
}

.bg-black-95 {
  background-color: #0d0d0d;
}

.bg-laranha {
  background-color: #F0B35B;
}

/* ****** CORES ******** */
.laranha {
  color: #F0B35B !important;
}

.black-95 {
  color: #0d0d0d !important;
}

/* ************** */

.redeIcon {
  font-size: 1.5rem;
  color: #F0B35B;
  margin-right: 2px;
}

/* **** MARGENS ****** */
.mb-100 {
  margin-bottom: 100px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mw-50 {
  max-width: 50%;
}

.ml-10 {
  margin-left: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-50 {
  margin-top: 50px;
}

/* BEM VINDO */

.linha {
  width: 50px;
  border: 2px solid #F0B35B;
  opacity: 1 !important;
}

.bem-vindo {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: #fff;
  background-color: #ffffff;
  text-align: initial;
  position: relative;
  max-height: 986px;
}

.bem-vindo-content {
  margin-left: 10%;
  z-index: 2;
  margin-bottom: 90px;
}

.bem-vindo h3 {
  color: black;
  font-size: 24;
}

.bem-vindo h2 {
  color: black;
  font-size: 36;
}

.bem-vindo p {
  color: black;
  font-size: 21;
}



.barbeiro {
  border: 2px solid black;
  padding: 0;
  margin: 0;
  width: 400px;
  height: 370px;

  /* width: 100%; */
  /* height: auto; */
}

.quadrado {

  width: 400px;
  height: 370px;
  border: 2px solid orange;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: -10px;
  z-index: 10;
}

.elementos-bv {
  margin-top: 100px;
}

@media (max-width: 425px) {

  .invisible-div-1 {
    display: none;
  }

  .bem-vindo p {
    color: black;
    font-size: 16;
  }

  .quadrado {

    width: 300px;
    height: 270px;
  }

  .barbeiro {

    width: 300px;
    height: 270px;
  }

  .bem-vindo-content {
    margin-bottom: 200px;
  }


  .bem-vindo {
    height: 200vh;

    margin-bottom: 100px;
    margin-left: 17px;
  }

  .foto-bem-vindo {
    margin-top: 100px !important;
  }
}

.position-relative {
  position: relative;
}

.imagem-sobreposta {
  position: absolute;
  top: 0;
  /* Ajuste para alinhar verticalmente */
  left: 0;
  /* Ajuste para alinhar horizontalmente */
}


.bem-vindo-text {
  display: block;
  /* Garante que o parágrafo ocupe toda a largura do seu contêiner */
  width: 100%;
  /* Garante que o parágrafo ocupe 100% da largura disponível */
  margin: 0;
  /* Remove margens padrão do parágrafo, se houver */
  padding: 0;
  /* Remove qualquer padding */
}

.foto-bem-vindo {}

/* ****BANNER*********** */

.banner {
  /* width: 1440px; */
  height: 376px;
  background-image: url('/public/img/banner1.png');
  /* Substitua com o caminho da sua imagem */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.banner-text {
  font-size: 2rem;
  text-align: center;
}

.banner-content {
  align-self: center;
}

.banner2-content {
  align-self: center;
  display: flex;
}

@media (max-width: 425px) {
  .banner2-content {
    align-self: center;
    display: block;
    margin-left: 10px;
  }

  .banner2-text{
    width: 100%;
  }

  .button-banner2{
    /* width: 20%; */
    margin-left:13%
  }
}

.banner2-text {
  font-size: 2rem;
  text-align: center;
  margin-right: 200px;
}

.bi1 {
  justify-content: center;
  display: flex;
}

.bi2 {
  justify-content: center;
  display: flex;
}

@media (max-width: 425px) {
  .bi2 {
    justify-content: center;
    display: flex;
    margin-left: 10px;
  }
}

/************** NOSSOS SERVIÇOS************** */

.ic1 {
  display: flex;
  justify-content: center;
}

.servicos {
  height: 1440px;
  background-image: url('/public/img/bg-2.png');
  
   /* background-color: #0d0d0d; */
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}

@media (max-width: 425px) {
  .servicos{
    background-image: url('');
    background-color: #0d0d0d !important;
  }

  .parent-container-serv{
    display:none !important;
  }
}


.servicos-label {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 100px;
}

@media (max-width: 480px) {
  .servicos-label {
    padding-top: 165px;
  }
}

.servicos-label-content {
  align-self: center;
  margin-top: 100px;
}

/* .servicos-label {
  display: flex;
  justify-content: center;
} */

.servicos-label-content {
  text-align: center;
  /* Centraliza o texto */
  max-width: 600px;
  /* Limita a largura do conteúdo, ajuste conforme necessário */
}

@media (max-width: 425px) {
  .servicos-label-content {
    margin-top: 0px;
  }
}

.ln-servico {
  margin: 0 auto;
  margin-bottom: 20px;
  /* width: 50%; */
}


.bem-vindo-text {
  margin-top: 20px;
}


.ic1 p {
  font-size: 16px !important;
}

/* ****NOSSOS SERVIÇOS */

.parent-container-serv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 100px !important;
}

.custom-div-serv {
  width: 1170px;
  height: 580px;
  background-color: #252525;
}

.mlr-100 {
  margin-left: 12%;
  margin-right: 12%;
}

.quadrado-listagem {

  width: 950px;
  border: 2px solid orange;
  background-color: transparent;
  position: absolute;
  /* top: -235px; */
  /* left: 60px; */
  z-index: 10;
  height: 425px;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.caixa-cinza{
  width: 1050px;
  position: absolute;
  top: -235px;
  left: 60px;
  z-index: 10;
  height: 500px;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.lista-servicos{
  /* z-index: 15; */
  width: 100%;
  height: 100%;
}

/* *********** */

.parent-container-serv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.lista-servicos {
  display: flex;
  gap: 20px;
  color: #fff;
  text-align: center;
}

.servico {
  flex: 1;
  padding: 10px;
}

.laranja {
  color: #ffa500; /* Ajuste a cor para um laranja específico */
}

.rotate-left {
  transform: rotate(-90deg); /* Gira 90 graus para a esquerda */
}

.linha-lista {
  width: 250px;
  /* border: 1px solid #ffffff; */
  
  flex: 1; /* Faz a linha <hr> ocupar o espaço restante */
  margin: 0 10px; /* Ajuste para espaçar horizontalmente */
  border: none;
  border-top: 1px solid #ccc; 
}

.lista-cortes {
  list-style: none; /* Remove as bolinhas da lista */
  padding: 0;
}

.lista-cortes li {
  display: flex;
  align-items: center; /* Alinha verticalmente os itens */
  gap: 10px; /* Ajuste o espaçamento entre os elementos */
  margin-bottom: 10px;
}

.ls-text{
  margin-top: 30px;
}

.texto-justificado {
  text-align: justify;
}

.icone-serv{
  width: 100px ;
  height: 100px ;
}

.icon-header{
  width: 25px ;
  height: 25px ;
}

@media(max-width: 425px){
  .icone-serv{
    width: 50px ;
    height: 50px ;
  }
}

/* ****SLIDER**** */

.slider{
  margin-top: 100px;
  margin-bottom: 100px;;

}
































